div h1 {
    border-radius: 25px 25px 0 0;
    padding: 10px;
}

div h1, div p {
    padding: 10px 10px 10px 30px;
    margin: 0;
}

div {
    border-radius: 25px;
    margin: 20px;
    width: 300px;
}

#div1 h1, #div7 h1 {
    background-color: rgb(88, 87, 255);
    color: rgb(241, 255, 241);
}

#div1, #div7 {
    background-color: rgb(158, 158, 255);
}

#div2 h1, #div8 h1 {
    background-color: rgb(128, 128, 0);
    color: rgb(241, 255, 241);
}

#div2, #div8 {
    background-color: rgb(228, 228, 30);
}

#div3 h1, #div9 h1 {
    background-color: rgb(207, 66, 207);
    color: rgb(241, 255, 241);
}

#div3, #div9 {
    background-color: rgb(232, 156, 232);
}

#div4 h1, #div10 h1 {
    background-color: rgb(103, 160, 103);
    color: rgb(241, 255, 241);
}

#div4, #div10 {
    background-color: rgb(172, 204, 172);
}

#div5 h1, #div11 h1 {
    background-color: rgb(101, 101, 101);
    color: rgb(241, 255, 241);
}

#div5, #div11 {
    background-color: rgb(191, 191, 191);
}

#div6 h1, #div12 h1 {
    background-color: rgb(115,3,5);
    color: rgb(241, 255, 241);
}

#div6, #div12 {
    background-color: rgb(207,147,167);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /* try aligning elements in the box */
    justify-content: space-around;
    align-content: space-between;
    align-items: flex-end;

    background-color: lightcoral;
    border: 2px solid darkred;
    margin: 50px;
    padding: 10px;

    /* constrain the height of the box */
    height: 900px;

    /* overflow handles what to do with elements that
       fall outside the box
     */
    /*overflow: scroll;*/
}

















