body {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
}

img {
    width: 100%;
}

p {
    font-size: 2.0em;
    width: 300px;
}

h1 {
    font-size: 3em;
    background-color: rgba(116, 201, 240, 0.7);
    border: 2px solid black;
    padding: 4px 8px;
    width: 250px;

    /* move the h1 relative to it's default position */
    position: relative;
    left: 320px;
    top: 325px;
}

p {
    background-color: rgba(240, 196, 116, 0.7);
    border: 2px solid black;
    padding: 4px 8px;

    /* move the paragraph relative to the position it started in */
    position: relative;
    right: 345px;
}









