/*
    This has styles for the mariner's history page.

	Author: Josh Archer
	Date: 7/12/22
	File: styles.css
 */

h1 {
    color: #0b5b41;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: #972c2c underline; /* give the underline a color */
}

/* These styles apply to the entire contents of the page */
body {
    background-color: beige;
}

p {
    color: #972c2c;
    border-left: 2px solid #972c2c;
    padding-left: 10px;
}

img {
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 30px;
}













