html {
    background: darkslategray;
}

body {
    width: 90%;
    margin: 0 auto;
    background-color: beige;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

img {
    width: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* make sure floated practice_with_images don't drop */
article::after {
    clear: both;
    display: table;
    content: "";
}

article, header, footer, aside {
    border: 2px solid #637c56;
    border-radius: 5px;
    background-color: 2px solid #99bd83;
    margin: 10px;
    padding: 10px;
}

div.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas:
        "head  head  head  aside "
        "jewel jewel clock book  "
        "cloth cloth clock furn  "
        "cloth cloth foot  foot  ";
}

/* name each of my regions in my grid */
header { grid-area: head; }
article#jewelry { grid-area: jewel; }
article#clocks { grid-area: clock; }
article#clothes { grid-area: cloth; }
article#furniture { grid-area: furn; }
article#books {  grid-area: book; }
footer { grid-area: foot; }
aside { grid-area: aside; }
