/* styles for all devices */
body {
    background-color: cornsilk;
}

h1 {
    border-top: 2px solid rosybrown;
    border-bottom: 2px solid rosybrown;
    padding: 8px 4px;
    font-family: Baskerville Old Face, serif;
    font-size: 2.0em;
    background-color: bisque;
    color: #8d5152;
    line-height: 1.5em;
}

p {
    margin: 30px;
}

/* styles for mobile phones (portrait orientation) */
@media screen and (max-width: 600px) {
    p {
        background-color: #ea837f;
        border-bottom: 2px solid #840a0a;
        padding: 8px;
        margin: 0 0 6px 0;
    }

    h1 {
        font-size: 1.5em;
        font-family: Impact, Haettenschweiler, "Franklin Gothic Bold",
                     "Arial Black", "sans-serif";
        text-align: center;
        background-color: #f6d999;
    }
}

/* styles for tablet (portrait) or phone (landscape) */
@media screen and (min-width: 601px) and (max-width: 1200px) {
    /* make the article a grid */
    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    /* first paragraph */
    p:nth-of-type(1) {
        grid-row: 2;
        grid-column: 1;
    }

    /* second paragraph paragraph */
    p:nth-of-type(2) {
        grid-row: 2;
        grid-column: 2;
    }

    /* change the paragraphs into two columns and change the fonts/colors */
    p {
        border: 1px solid #0d1f66;
        background-color: #bdbdff;
        border-radius: 10px;
        padding: 10px;
    }

    p:last-child {
        display: none;
    }
}

/* styles for tablet (landscape) or desktop */
@media screen and (min-width: 1201px) {
    p {
        border-bottom: 1px solid gray;
        padding: 4px;
        background-color: #ededed;
        font-size: 1.2em;
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
                     "DejaVu Sans", Verdana, sans-serif
    }
}





