/* import a font */
body {
    font-family: 'Lobster Two', cursive;
}

/* regular size */
article {
    font-size: 1rem;
    color: lightseagreen;
    font-weight: 900;
}

/* double size */
footer {
    font-size: 2rem;
    text-decoration: red line-through;
    font-family: 'Orbitron', sans-serif;
}

/* half size */
span {
    font-size: 0.5rem;
    font-family: 'Saira Condensed', sans-serif;
}

