/* some preexisting styles to make the page
   easier to look at... */
* {
    padding: 10px;
    margin: 0;
}

li {
    list-style: none;
}

img {
    width: 90%;
}

/* your style definitions go here... */
body {
    background-color: #394032;
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans,
                 Geneva, Verdana, sans-serif; ;
}

section {
    background-color: #F9E7E7;
}

h1, h2, h3 {
    background-color: #8DAB7F;
    color: #F9E7E7;
    font-family: Georgia, Times, "Times New Roman", serif;
}









