h1, h2, p, ul, aside {
    border: 1px solid black;
    background-color: #c3c3c3;
}

img {
    width: 50px;
}

em, strong, a, img {
    border: 2px solid darkblue;
    background-color: #ce6464;
}












