html {
    background-color: #ffe7e8;
}

body {
    background-color: #b3e9eb;

    /* create a fixed layout */
    width: 900px;

    /* center the page */
    margin: 0 auto;
}

header, footer {
    background-color: #87bcbe;
}

article p {
    display: inline-block;
    margin: 8px;

    width: 278px;
}

