html {
    background-color: #ecf2ff;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #8ccdf1;
    padding: 20px;
}

article {
    /* not a static position, I'm setting this so the img
       which is absolute will be moved relative to this
       position.
     */
    position: relative;
}

img#learn-1 {
    width: 150px;
    position: absolute;
    left: -200px;
}

img#learn-2 {
    width: 150px;
    position: absolute;
    right: -250px;
}